#tweet_display li{
    list-style-type: none;
    margin:2px;
    border-bottom: 1px solid rgb(165, 165, 248);
}
li{
    list-style-type: none;
}
#tweet_display
{
    
    text-align: left;
    width: 90%;
    border-bottom: "10px solid ";

}
body{
    background: rgb(31, 30, 30);
}
#form
{
    margin-top:20px;
    margin-bottom: 10px;
}
.tweetbox
{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.tweetbox_container
{
    margin-top:10px;
    width:90%;
    margin-right:5rem;
    
}
#center{
    height:98%;
    width: 100%;
    position: relative;
    margin:auto;
}
.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'main main main main main right'
      'footer footer footer footer footer footer';
    grid-gap: 6px;
    background-color: rgb(31, 30, 30);
    padding: 10px;
    margin-left: 160px;
    width: auto;
    height: 100%;
    box-sizing:border-box;
    
}
#center
{
    background-color: rgba(209, 207, 207, 0.8);
    padding: 5px 0;
    
}
.menu {
    height: 100%;
    width: 170px;
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(31, 30, 30);
    overflow-x: hidden;
    padding-top: 20px;
}
.menu a {
    padding: 6px 8px 6px 16px;
    margin-top: 2rem;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}
.menu a:hover {
    color: #f1f1f1;
  }
.item1,.item4,.item5{
    background-color: rgba(252, 191, 191, 0.8);
    text-align: center;
    padding: 20px 0;
    width: 100%;
}
@media screen and (max-height: 450px) {
    .menu {padding-top: 15px;}
    .menu a {font-size: 18px;}
}
.item1 { grid-area: header; }
#center { grid-area: main; }
.item4 { grid-area: right;
padding:0px;
}
.item5 {
    grid-area: footer;
}
#footer{
    color: #818181;
    padding:0px;
}
#right{
    padding: 0px;
}
#formtext
{
    margin:0px;
    
    padding:15px;
    border-bottom: 10px solid rgb(31,32,32);
    width: 100%;
}